
<div class="error" *ngIf="errorMessage">
  <h3> {{ errorMessage }} </h3>
</div>

<div class="container"> 
  <div class="row">
    <div class="col s12">
      <button class="btn blue" (click)="showsForm()">
        Add Beer
      </button>
    </div>
    
  </div>
  
</div>

<div class="row">
  <div class="col l6 m6 s12">
    <app-beer-form *ngIf="isFormOn"
      (newBeerNotifier)="handleNewBeer($event)"></app-beer-form>
  </div>
</div>


<div class="container" *ngIf="!isFormOn">
  <ul class="row" >
    <li class="col s6 m4 l3" *ngFor="let oneBeer of myBeers">
      
      <div class="card">
        <div class="card-image">
          <img [src]="oneBeer.image" alt="">
        </div>
        <div class="card-content">
          <p class="title"> {{ oneBeer.name }} </p>
          <p>Type: {{ oneBeer.type }} </p>
          <a [routerLink]="['/beers', oneBeer._id]">
            See More Details
          </a>
        </div>
      </div>
      
    </li>
  </ul>
</div>

  
