
<div class="error" *ngIf="errorMessage">
  <h3> {{ errorMessage }} </h3>
</div>

<div class="container"> 
  <div class="row">
    <div class="col s12">
      <button class="btn blue" (click)="showsForm()">
        Add Beer
      </button>
    </div>
    
  </div>
  
</div>


<app-beer-form *ngIf="isFormOn"
  (newBeerNotifier)="handleNewBeer($event)"></app-beer-form>

<div class="container">
  <ul class="row" *ngIf="!isFormOn">
    <li class="col s12 m6 l4" *ngFor="let oneBeer of myBeers">
      
      <div class="card">
        <div class="card-image">
          <img [src]="oneBeer.image" alt="">
        </div>
        <div class="card-content">
          <h3 class="title"> {{ oneBeer.name }} </h3>
          <p> From {{ oneBeer.brewery }} </p>
          <a [routerLink]="['/beers', oneBeer._id]">
            See More Details
          </a>
        </div>
      </div>
      
    </li>
  </ul>
</div>

  
