<h2 *ngIf="userInfo">Check out Our Beers</h2>
<div class="container">
  <img src="" alt="">
</div>

<div class="container">

  <!-- Carousel Code  -->
  <div *ngIf="!userInfo" class="carousel col l12 m12 s12 carousel-slider center" data-indicators="true" materialize="carousel"
   [materializeActions]="carouselActions">
    <div class="carousel-fixed-item center">
      <a *ngIf="!userInfo" class="btn waves-effect white grey-text darken-text-2" routerLink="/signup">Sign Up</a>
    </div>
    <div class="carousel-item item1 red white-text" href="#one!">
      <h2>See the beer catalogue</h2>
      <p class="white-text">Browse for you favorite beer!</p>
    </div>
    <div class="carousel-item item2 amber white-text" href="#two!">
      <h2>What beer calls to you...</h2>
      <p class="white-text">find out which beers are the most popular ones!</p>
    </div>
    <div class="carousel-item item3 green white-text" href="#three!">
      <h2>New people, new friends, new beers</h2>
      <p class="white-text"> Discover new beers</p>
    </div>
    <div class="carousel-item item4 blue white-text" href="#four!">
      <h2>Important people acknowledge the Importance of beer </h2>
      <p class="white-text"> Tell me what beer you drink and I'll tell you who you are</p>
    </div>
  </div>

  <ul class="row">
    <li class="col s6 m4 l3" *ngFor="let oneBeer of beers">

      <div class="card">
        <div class="card-image">
          <img [src]="oneBeer.image" alt="">
        </div>
        <div class="card-content">
          <p class="title"> {{ oneBeer.name }} </p>
          <p> Type: {{ oneBeer.type }} </p>
          <a [routerLink]="['/beers', oneBeer._id]">
            See More Details
          </a>
        </div>
      </div>

    </li>
  </ul>
</div>