button {
    margin: 80px auto 0 auto;
    width: 150px;
    text-align: center;
}
.carousel {
    margin-top: 40px;
}
img {
    margin-top: 20px;
    width: 30px;
    height: 200px;
}
.card-content {
    background-color: rgb(248, 248, 248);
}
.title {
    overflow: hidden;
}
